<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RavenForge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Launcher.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="autologin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clientLocale" serializeAs="String">
                <value />
            </setting>
            <setting name="chosenServer" serializeAs="String">
                <value />
            </setting>
            <setting name="clientPath" serializeAs="String">
                <value />
            </setting>
        </Launcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Launcher.Properties.Settings>
            <setting name="launcherURL" serializeAs="String">
                <value>http://localhost:8090/launcher/WoW Launcher.exe</value>
            </setting>
            <setting name="binaryFileName" serializeAs="String">
                <value>wow.exe</value>
            </setting>
            <setting name="newsURL" serializeAs="String">
                <value>http://localhost:8090/api/launcher/news</value>
            </setting>
            <setting name="mainURL" serializeAs="String">
                <value>http://localhost:8090</value>
            </setting>
            <setting name="forumsURL" serializeAs="String">
                <value>vanilla</value>
            </setting>
            <setting name="videosURL" serializeAs="String">
                <value>http://localhost:8090/api/launcher/videos</value>
            </setting>
            <setting name="expansions" serializeAs="String">
                <value>vanilla,bc,wotlk,cata,mop,wod,legion,bfa</value>
            </setting>
            <setting name="serverStatsURL" serializeAs="String">
                <value>http://localhost:8090/api/serverinfos</value>
            </setting>
            <setting name="clientLocales" serializeAs="String">
                <value>enGB,enUS,deDE,esES,frFR,koKR,zhCN,zhTW,enCN,enTW,esMX,ruRU</value>
            </setting>
            <setting name="cpURL" serializeAs="String">
                <value>http://localhost:8090</value>
            </setting>
            <setting name="streamsURL" serializeAs="String">
                <value />
            </setting>
            <setting name="faqURL" serializeAs="String">
                <value />
            </setting>
            <setting name="clientVanillaFID" serializeAs="String">
                <value />
            </setting>
            <setting name="clientWotlkFID" serializeAs="String">
                <value />
            </setting>
            <setting name="clientMopFID" serializeAs="String">
                <value />
            </setting>
            <setting name="clientLegionFID" serializeAs="String">
                <value>1RfEUXCkFPvcT30oFuxIocoLye_V8YPiP</value>
            </setting>
            <setting name="realmlistFileName" serializeAs="String">
                <value>realmlist.wtf</value>
            </setting>
            <setting name="realmlistVanilla" serializeAs="String">
                <value>set realmlist localhost</value>
            </setting>
            <setting name="realmlistWotlk" serializeAs="String">
                <value>set realmlist localhost</value>
            </setting>
            <setting name="realmlistMop" serializeAs="String">
                <value>set realmlist localhost</value>
            </setting>
            <setting name="realmlistLegion" serializeAs="String">
                <value>set realmlist localhost</value>
            </setting>
            <setting name="GDRIVEAPI_KEY" serializeAs="String">
                <value>AIzaSyBIpgC6iKCil4M65ky3Z3kz7SijPr4dMXM</value>
            </setting>
            <setting name="GDRIVEAPI_FIELDS" serializeAs="String">
                <value>id,md5Checksum,originalFilename,fullFileExtension,webContentLink,size,mimeType,name,parents</value>
            </setting>
            <setting name="GDRIVE_APIDOMAIN" serializeAs="String">
                <value>https://www.googleapis.com</value>
            </setting>
            <setting name="wotlkCPatchFID" serializeAs="String">
                <value />
            </setting>
            <setting name="vanillaCPatchFID" serializeAs="String">
                <value />
            </setting>
            <setting name="mopCPatchFID" serializeAs="String">
                <value />
            </setting>
            <setting name="legionCPatchFID" serializeAs="String">
                <value />
            </setting>
            <setting name="clientVersionVanilla" serializeAs="String">
                <value>1.12</value>
            </setting>
            <setting name="clientVersionWotlk" serializeAs="String">
                <value>3.3.5a</value>
            </setting>
            <setting name="clientVersionMop" serializeAs="String">
                <value>5.4.8a</value>
            </setting>
            <setting name="clientVersionLegion" serializeAs="String">
                <value>7.3.5a</value>
            </setting>
            <setting name="clientBuildVanilla" serializeAs="String">
                <value>5875</value>
            </setting>
            <setting name="clientBuildWotlk" serializeAs="String">
                <value>12340</value>
            </setting>
            <setting name="clientBuildMop" serializeAs="String">
                <value>18414</value>
            </setting>
            <setting name="clientBuildLegion" serializeAs="String">
                <value>25848</value>
            </setting>
            <setting name="youtubeURL" serializeAs="String">
                <value />
            </setting>
            <setting name="twitchURL" serializeAs="String">
                <value />
            </setting>
            <setting name="discordURL" serializeAs="String">
                <value />
            </setting>
            <setting name="facebookURL" serializeAs="String">
                <value />
            </setting>
            <setting name="notifyMessageDuration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="launcherChangelogsURL" serializeAs="String">
                <value>http://localhost:8090/api/launcher/changelogs?launcher_version=</value>
            </setting>
            <setting name="launcherVersionURL" serializeAs="String">
                <value>http://localhost:8090/api/launcher/version</value>
            </setting>
            <setting name="clientBuildBC" serializeAs="String">
                <value>8606</value>
            </setting>
            <setting name="clientVersionBC" serializeAs="String">
                <value>2.4.3a</value>
            </setting>
            <setting name="bcCPatchFID" serializeAs="String">
                <value />
            </setting>
            <setting name="realmlistBC" serializeAs="String">
                <value>set realmlist localhost</value>
            </setting>
            <setting name="clientBCFID" serializeAs="String">
                <value />
            </setting>
            <setting name="clientBuildBFA" serializeAs="String">
                <value>31478</value>
            </setting>
            <setting name="clientVersionBFA" serializeAs="String">
                <value>8.2.0</value>
            </setting>
            <setting name="bfaCPatchFID" serializeAs="String">
                <value />
            </setting>
            <setting name="realmlistBFA" serializeAs="String">
                <value>set realmlist localhost</value>
            </setting>
            <setting name="clientBFAFID" serializeAs="String">
                <value />
            </setting>
            <setting name="clientBuildWOD" serializeAs="String">
                <value>19116</value>
            </setting>
            <setting name="clientVersionWOD" serializeAs="String">
                <value>6.0.3</value>
            </setting>
            <setting name="wodCPatchFID" serializeAs="String">
                <value />
            </setting>
            <setting name="realmlistWOD" serializeAs="String">
                <value>set realmlist localhost</value>
            </setting>
            <setting name="clientBuildCATA" serializeAs="String">
                <value>15595</value>
            </setting>
            <setting name="clientVersionCATA" serializeAs="String">
                <value>4.3.4</value>
            </setting>
            <setting name="cataCPatchFID" serializeAs="String">
                <value />
            </setting>
            <setting name="realmlistCATA" serializeAs="String">
                <value>set realmlist localhost</value>
            </setting>
            <setting name="clientWODFID" serializeAs="String">
                <value />
            </setting>
            <setting name="clientCATAFID" serializeAs="String">
                <value />
            </setting>
            <setting name="feedbackURL" serializeAs="String">
                <value />
            </setting>
            <setting name="logFilePath" serializeAs="String">
                <value>launcher_logfile.txt</value>
            </setting>
        </Launcher.Properties.Settings>
    </applicationSettings>
</configuration>
